 
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
  <em class="em em-airplane" aria-role="presentation" aria-label="AIRPLANE"></em>&nbsp;&nbsp;&nbsp;
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="monospace" href="app-addflights"  class="roterlink navbar-brand">Add Flight</a>&nbsp;
    </li>
    <li class="nav-item">
      <a class="monospace" href="app-scheduleflights"  class="roterlink navbar-brand">Schedule Flight</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>